<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
  </configSections>

  <SubSonicService defaultProvider="Bll" >
    <providers>
      <clear/>
      <add name="Bll" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="Hshg" generatedNamespace="Bll.SystemManage" />
    </providers>
  </SubSonicService>


  <appSettings/>
  <connectionStrings>
    <add name="Hshg" connectionString="Data Source=localhost; Database=HSHG; Integrated Security=true;"/>
  </connectionStrings>
  
  
  
  
  
</configuration>