.text12 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.text12grey {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	line-height: 18px;
}

.text12pink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #EC008C;
}
.text12pinkB {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #EC008C;
	font-weight: bold;
}
.text1218 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
}
.text12titleGreen {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color:#0c543e;
	font-weight: bold;
}
.collumListTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #0c543e;
}
.articleTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
}
.articleInfobg {
	background-color: #F5F5F5;
		padding: 8px;
}
.text14 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.text16 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.textHotNews {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #EC008C;
	font-weight: bold;
}
.text12grey {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}
.textNubpink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #EC008C;
	font-weight: bold;
	font-style: italic;
}
.greenGradient {
filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ffffff', endColorStr='#9bc449', gradientType='0');
	background-image: url(../images/icon_linenavgreen.gif);
	background-repeat: repeat;
}
.navGreenGradient {
filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ffffff', endColorStr='#9ECE3D', gradientType='0');
background-image: url(../images/icon_linenavgreen.gif);
	background-repeat: repeat;
}
a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #88b927;
	text-decoration: none;
}
a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #a5d93d;
	text-decoration: none;
}
a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #719d19;
	line-height: 18px;
	text-decoration: none;
}
a.linknav:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.linknav:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.linknav:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.linkmenu:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ff9900;
	text-decoration: none;
}
a.linkmenu:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ff9900;
	text-decoration: none;
}
a.linkmenu:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ff9900;
	text-decoration: none;
}
a.linkgrey:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}
a.linkgrey:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}
a.linkgrey:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}
a.linkwhite:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
}
a.linkwhite:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
}
a.linkwhite:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
}
.navMenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FFFFFF;
	filter:alpha(opacity=90);
	border-top: 1px none #666666;
	border-right: 1px dashed #666666;
	border-bottom: 1px dashed #666666;
	border-left: 1px dashed #666666;
}
.picshadow{
 border: 2px solid #ffffff;
 filter:progid:DXImageTransform.Microsoft.Shadow(enabled=true,color=#666666,direction=135,strength=3);
 table-layout:fixed;
}
table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
}
.indexTitle {
	font-size: 12px;
	border: 1px solid #FF0000;
}


form {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.textbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0c543e;
	border: 1px solid #B0B0B0;
}
.greenButton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0c543e;
	border: 1px solid #a6cba5;
filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#a6cba5', endColorStr='#d0e3cf', gradientType='0');
	line-height: 14px;
	text-align: center;
}
.hotNewsPic
{
	margin-top: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
}
.bottomdash {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #000000;
}
body {
	background-color: #0c543e;
}
.whiteBorderTable {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
		line-height: 18px;
	padding: 8px;
	border: 4px solid #FFFFFF;
	background-color: #f5f5f5;
}
.tdDarkSolid {
	background-color: #eeeeee;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B4B4B4;
}
.tdDarkDash {
	background-color: #eeeeee;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #000000;
}
.tdLightSolid {
	background-color: #f5f5f5;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B4B4B4;
}
.tdLightDash {
	background-color: #f5f5f5;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #000000;
}
.tdDark {
	background-color: #eeeeee;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.tdLight {
	background-color: #f5f5f5;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
